<zone th:fragment="_daas">
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/zrm/api_data/commonApi.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/zrm/platformSet.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/zrm/api_data/daas.js}"></script>
    <div class="rightcontent row platform-setting">
        <!-- mgr platform starts -->
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 clear-padding">
            <div class="iaas-setting">Iaas平台设置</div>
            <div class="daas-setting active">Daas平台设置</div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 clear-padding ">
            <div class="platform-setting-content">
                <div class="vertical-center xs-remove-vertical-center">
                    <div class="setting-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="boder-icon">Daas平台管理</span>
                    </div>  
                    <div class="col-md-2 col-sm-2 col-xs-2">IP</div> 
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="hidden" name="daas" id="daasId"/>
                        <input type="input" name="daas" id="daasIp"/>
                    </div>  
                    <div class="col-md-12 col-sm-12 col-xs-12 submit-btn" id="daas-submit">提交</div> 
                    <div class="col-md-12 col-sm-12 col-xs-12 daas-modify-delete">
                        <div class="col-md-2 col-sm-2 col-xs-2"></div> 
                        <div class="col-md-3 col-sm-3 col-xs-3 submit-btn" id="daas-modify">修改</div> 
                        <div class="col-md-2 col-sm-2 col-xs-2"></div> 
                        <div class="col-md-3 col-sm-3 col-xs-3 submit-btn" id="daas-delete">删除</div> 
                        <div class="col-md-2 col-sm-2 col-xs-2"></div> 
                    </div> 
                </div> 
            </div>
        </div> 
        <!-- mgr platform ends -->
    </div>

    <script th:inline="JavaScript">
        /*<![CDATA[*/

        function getDaas() {
            var daasData = ""
            $.ajax({
                url: baseUrl + "daas",
                dataType: "json",
                async: false,
                type: "get",
                success: function (json) {
                    daasData = json;
                }
            });
            return daasData;
        }


        function daasSubmit() {
            var daasIp = $("#daasIp").val();
            $.ajax({
                url: baseUrl + "daas/" + daasIp,
                dataType: "json",
                type: "post",
                async: false,
                success: function (json) {
                    $("#daasIp").val(json.ip);
                    $("#daasId").val(json.id);
                }
            });
        }

        function daasModify() {
            var daasIp = $("#daasIp").val();
            var daasId = $("#daasId").val();
            $.ajax({
                url: baseUrl + "daas/" + daasIp + "?id=" + daasId,
                dataType: "json",
                type: "put",
                async: false,
                success: function (json) {
                    $("#daasIp").val(json.ip);
                    $("#daasId").val(json.id);
                }
            });
        }

        function daasDelete() {
            var daasIp = $("#daasIp").val();
            var daasId = $("#daasId").val();
            $.ajax({
                url: baseUrl + "daas/" + daasIp + "?id=" + daasId,
                dataType: "json",
                type: "delete",
                async: false,
                success: function (json) {
                    $("#daasIp").val("");
                    $("#daasId").val("");
                    $("#daas-submit").show();
                    $(".daas-modify-delete").hide();
                }
            });
        }

        /*]]>*/
    </script>
</zone>