<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"

       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title >网关</title>
    </head>
    <body>
        <div id='gateway'>
            <center>
                <br/><br/>
                <h1 th:inline="text">DAAS [[${ip}]] 网关列表</h1>
                <br/><br/><br/>
                <table border="1" width="80%" class="table  table-striped table-bordered table-hover" >
                    <tr>
                        <th>主机名字</th>
                        <th>ip</th>
                    </tr>
                    <tr th:each="gateway, status: ${page.resultList}">
                        <td th:text="${gateway.hostname}">name</td>

                        <td th:text="${gateway.ip}">ip</td>
                    </tr>
                </table>


            </center>
        </div>

    </body>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>

    <script th:inline="JavaScript">
        /*<![CDATA[*/


        var count = /*[[${count}]]*/ 0;
        var pageNo = /*[[${page.pageNo}]]*/ 0;

        function LetsGO() {
            var targetPageNo = pageNo + 1;
            var url = "/gateways/" + targetPageNo;
            if (count === 0) {//不加后边条件会死循环
                location.href = "/gateways/1";
            } else {
                location.href = url;
            }
        }

        $(function () {
            window.setTimeout(function () {
                return LetsGO()
            }, 3000);
        });

        /*]]>*/
    </script>
</html>

