
<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"

       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>京华科讯运维可视化展示平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="京华科讯" />
        <!-- The styles -->
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.css}'/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site-demo.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site.css}"/>
        <!-- jQuery -->
        <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- external javascript -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

    </head>

    <body>
        <div th:include="/common/logo_time :: _logo_time" ></div>
        <div class="ch-container">
            <div class="row rowContainer"> 
                <div th:include="/common/left :: _left('host')" ></div>
                <div  class="auto-content">
                    <div th:include="/common/navigation_dialog :: _navigation_dialog('云服务器')" ></div>

                    <div class="rightcontent row">
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" th:each="host, status: ${page.resultList}"> 
                                <div class="loundSerivice">
                                    <div class="col-md-6 col-sm-6 col-xs-6" th:text="${host.name}">VHost01</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right" th:text="${host.ip}">192.168.37.253</div>
                                    <div class="col-md-12 col-sm-12 col-xs-12"><div class="bule-line"></div></div> 
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">CPU</div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" th:text="${host.cpu}">16*2.24&nbsp;GHZ&nbsp;(1.7%)</div> 
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">内存</div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" th:text="${host.memory}">23.58&nbsp;GB&nbsp;(20%)</div>  
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">网络</div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" th:text="${host.network}">1.45&nbsp;GB(r)&nbsp;153.5MB(W)</div> 
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" th:switch="${host.state}">
                                        <div th:case="'Up'" th:class="normal">&nbsp;</div>
                                        <div th:case="'Down'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Disconnected'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Alert'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Error'" th:class="danger">&nbsp;</div>
                                        <div th:case="'Creating'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Connecting'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Removed'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Rebalancing'" th:class="waring">&nbsp;</div>
                                        <!--<div class="waring">&nbsp;</div>-->
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" th:switch="${host.resourcestate}">
                                        <div th:case="Enabled" th:class="normal">&nbsp;</div>
                                        <div th:case="'Disabled'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Destroyed'" th:class="waring">&nbsp;</div>
                                        <div th:case="'PrepareForMaintenance'" th:class="waring">&nbsp;</div>
                                        <div th:case="'Maintenance'" th:class="waring">&nbsp;</div>
                                        <div th:case="'ErrorInMaintenance'" th:class="danger">&nbsp;</div>
                                        <!--<div class="normal">&nbsp;</div>-->
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="/common/footer :: _footer" ></div>
        <!--<script type="text/javascript" th:src="@{/js/lib/zrm/common.js}"></script>-->
        <script type="text/javascript" th:src="@{/js/lib/zrm/fullscreen.js}"></script>
        <script th:inline="JavaScript">
            /*<![CDATA[*/

            var count = /*[[${page.pageCount}]]*/ 0;
            var pageNo = /*[[${page.pageNo}]]*/ 0;
            function LetsGO() {
                var targetPageNo = pageNo + 1;
                var url = "/hosts/" + targetPageNo;
                if (count === 0) {//不加后边条件会死循环
                    location.href = "/hosts/1";
                } else {
                    location.href = url;
                }
            }

            $(function () {
//                window.setTimeout(function () {
//                    return LetsGO()
//                }, 3000);
            });

            /*]]>*/
        </script>
    </body>

</html>
