<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"

       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title >主机</title>
    </head>
    <body>
        <div id='host'>

        </div>

    </body>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>

    <script th:inline="JavaScript">
        /*<![CDATA[*/

//        var urls = new Array();//0
//
//        var pagecount = /*[[${page.pageCount}]]*/ 10;
//
//        for (var i = 1; i <= pagecount; i++) {
//
//            urls.push("/hosts/" + i);
//        }
//
//
//        var index = 0;
//        function LetsGO() {
//            var url = urls[index];
//            index++;
//            if (index === pagecount) {
//                index = 0;
//            }
//            $("#host").load(url)
//        }
//
//        $(function () {
//            LetsGO();
//            window.setInterval(function () {
//                return LetsGO()
//            }, 9000);
//        });


        var count = /*[[${page.pageCount}]]*/ 0;
        var pageNo = /*[[${page.pageNo}]]*/ 0;

        function LetsGO() {
            var targetPageNo = pageNo + 1;
            var url = "/hosts/" + targetPageNo;
            if (count === 0) {//不加后边条件会死循环
                location.href = "/hosts/1";
            } else {
                location.href = url;
            }
        }

        $(function () {
            window.setTimeout(function () {
                return LetsGO()
            }, 3000);
        });


        /*]]>*/
    </script>
</html>

