<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"

       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title >主机</title>
        <!--<link th:href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>-->
        <!--<link th:src="@{/webjars/bootstrap-css/css/3.3.6/bootstrap.css}" />-->
        <!--<link rel="stylesheet" th:href="@{/resources/css/jquery.ui.customer.css}" />-->
        <!--        <link rel='stylesheet' th:href='@{/webjars/bootstrap-css/3.3.6/css/bootstrap.css}' />-->
        <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
        <!--<script th:src="@{/js/lib/jqPaginator.js}" ></script>-->
       

    </head>
    <div id='host'>
        <center>
            <br/><br/>
            <h1 th:inline="text">IAAS [[${ip}]] 主机列表</h1>
            <br/><br/><br/>
            <table border="1" width="80%" class="table  table-striped table-bordered table-hover" >
                <tr>
                    <th>主机列表</th>
                    <th>资源状态</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr th:each="host, status: ${page.resultList}">
                    <td th:text="${host.name}">name</td>
                    <!--<td th:text="${#strings.equals(host.resourcestate,'Enabled')} ? '启用': '禁用'"  th:class="${#strings.equals(host.resourcestate,'Enabled')} ? 'success': 'danger'"></td>-->
                    <div th:switch="${host.state}">
                        <td th:case="'Up'">启动</td>
                        <td th:case="'Down'">未启动</td>
                        <td th:case="'Disconnected'">断开链接</td>
                        <td th:case="'Alert'">警告</td>
                        <td th:case="'Error'">错误</td>
                        <td th:case="'Creating'">创建</td>
                        <td th:case="'Connecting'">链接中</td>
                        <td th:case="'Removed'">删除</td>
                        <td th:case="'Rebalancing'">平衡</td>
                    </div>
                    
                    <div th:switch="${host.resourcestate}">
                        <td th:case="'Enabled'">启用</td>
                        <td th:case="'Disabled'">禁用</td>
                        <td th:case="'Destroyed'">已销毁</td>
                        <td th:case="'PrepareForMaintenance'">准备维护中</td>
                        <td th:case="'Maintenance'">维护中</td>
                        <td th:case="'ErrorInMaintenance'">维护出错</td>
                    </div>

                    
                    <td>
                        <a th:text="点击观看资源状态图" th:href="@{'/host/'+${host.id}}">
                            id
                        </a>
                    </td>
                </tr>
            </table>


        </center>
    </div>
</html>