
<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"

       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>京华科讯运维可视化展示平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="京华科讯"/>
        <meta name="author" content="Zhang"/>
        <!-- The styles -->
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.css}'/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site-demo.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site.css}"/>
        <!-- jQuery -->
        <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- external javascript -->
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

    </head>

    <body>
        <!-- topbar starts -->
        <div th:include="/common/logo_time :: _logo_time" ></div>
        <!-- topbar ends -->
        <div class="ch-container">
            <div class="row rowContainer"> 
                <!-- left menu starts -->
                <div th:include="/common/left :: _left('platform')" ></div>
                <!-- left menu ends --> 
                <!-- content starts -->
                <div class="auto-content">
                    <!-- right top breadcrumb starts -->
                    <div th:include="/common/navigation_dialog :: _navigation_dialog('管理平台')" ></div>
                    <!-- right top breadcrumb ends -->
                    <!-- right content starts -->
                    <div class="rightcontent row mgr-platform">
                        <!-- mgr platform starts -->
                        <div class="vertical-center xs-remove-vertical-center">
                            <div  th:each="m: ${map}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mgr-title">
                                    <span class="boder-icon" th:text="${m.key}">Issa管理平台</span>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" th:each="platform: ${m.value}"> 
                                    <div class="mgr-platform-info">
                                        <div class="col-md-12 col-sm-12 col-xs-12" th:text="${platform.name}">JingManager1</div> 
                                        <div class="col-md-12 col-sm-12 col-xs-12"><div class="bule-line"></div></div>  
                                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">IP</div>
                                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" th:text="${platform.ipaddress}">192.168.0.1</div> 
                                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" >VIP</div>
                                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10" th:text="${platform.vipip}">192.168.0.1</div> 
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" th:switch="${platform.status}">
                                            <div th:case="'Up'" th:class="normal">&nbsp;</div>
                                            <div th:case="'Down'" th:class="resume">&nbsp;</div>
                                            <div th:case="'Error'" th:class="danger">&nbsp;</div>
                                            <div th:case="'Unknown'" th:class="waring">&nbsp;</div>
                                            <!--<div class="waring">&nbsp;</div>-->
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" th:switch="${platform.isactive}">
                                            <div th:case="'true'" th:class="normal">&nbsp;</div>
                                            <div th:case="'false'" th:class="resume">&nbsp;</div>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                        </div>
                        <!-- mgr platform ends -->
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="/common/footer :: _footer" ></div>
    </body>
    <!--<script type="text/javascript" th:src="@{/js/lib/zrm/common.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/lib/zrm/fullscreen.js}"></script>
</html>
