<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>京华科讯运维可视化展示平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="京华科讯"/>
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.css}'/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site-demo.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom-site.css}"/>
    </head>

    <body>
        <!-- topbar starts -->
        <div th:replace="/common/logo_time :: _logo_time" ></div>
        <!-- topbar ends -->
        <div class="ch-container">
            <div class="row rowContainer"> 
                <!-- left menu starts -->
                <div th:include="/common/left :: _left('setting')" ></div>
                <!-- left menu ends --> 
                <!-- content starts -->
                <div class="auto-content">
                    <!-- right top breadcrumb starts -->
                    <div th:include="/common/navigation_dialog :: _navigation_dialog('平台设置')" ></div>
                    <!-- right top breadcrumb ends -->
                    <!-- right content starts -->
                    <div th:include="/setting/_setting_iaas :: _iaas" ></div> 
                    <!-- mgr platform ends -->
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/common/footer :: _footer" ></div>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" th:src="@{/js/lib/zrm/fullscreen.js}"></script>
</body>
</html>
