<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>京华科讯运维可视化展示平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="京华科讯"/>
    <meta name="author" content="Zhang"/>
    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap.min.css" rel="stylesheet"/> 
    <link href="css/custom-site-demo.css" rel="stylesheet"/>
    <link href="css/custom-site.css" rel="stylesheet"/>
    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon1SS.ico"/>

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="data_center.html"> <img alt="Charisma Logo" src="img/logo201.png" class="hidden-xs"/>
        <span>京华科讯运维可视化展示平台</span></a>
        <!-- current time starts -->
        <div id="time" class="pull-right toptime">
        </div> 
        <!-- current time ends -->  
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
        <div class="row rowContainer"> 
            <!-- left menu starts -->
            <div class="fix-sidebar-nav">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">

                        </div>
                        <ul class="nav nav-stacked main-menu">
                            <li class="nav-header"><i class="glyphicon glyphicon-align-justify"></i><span>全部导航</span></li>
                            <li><a class="ajax-link" href="data_center.html"><i class="glyphicon glyphicon-home"></i><span>数据中心</span></a>
                            </li>
                            <li><a class="ajax-link" href="cloud_server.html"><i class="glyphicon glyphicon-eye-open"></i><span>云服务器</span></a>
                            </li>
                            <li><a class="ajax-link" href="mgr_platform.html"><i
                                        class="glyphicon glyphicon-edit"></i><span> 管理平台</span></a></li>
                            <li><a class="ajax-link" href="gate_way.html"><i class="glyphicon glyphicon-list-alt"></i><span>接入服务</span></a>
                            </li>
                            <li><a class="ajax-link" href="tc_map.html"><i class="glyphicon glyphicon-font"></i><span>云一体机</span></a>
                            </li>
                            <li><a class="ajax-link" href="vm_device.html"><i class="glyphicon glyphicon-picture"></i><span>虚拟桌面</span></a>
                            </li>
                            <li><a class="ajax-link active" href="platform_set.html"><i class="glyphicon glyphicon-calendar"></i><span>平台设置</span></a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
            <!-- left menu ends --> 
            <!-- content starts -->
            <div class="auto-content">
                <!-- right top breadcrumb starts -->
                <div class="right-top-guide">     
                    <ul class="breadcrumb-custom">
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-home"></i><span>主页</span></a>
                        </li>
                        <li>
                            <a href="#">数据中心</a>
                        </li>
                    </ul>
                    <ul class="pull-right right-top-icon">
                        <li data-toggle="modal" data-target="#myModal">
                            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </li>
                        <li onclick="fullScreen()" class="fullScreen">
                            <a href="#"><i class="glyphicon glyphicon-fullscreen"></i></a>
                        </li>
                    </ul>
                    <!-- About us Modal starts-->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog project-info-modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        关于我们
                                    </h4>
                                </div>
                                <div class="about-us-info col-md-12 col-sm-12 col-xs-12"">
                                    <div class="col-md-3 col-sm-3 col-xs-3">APP Verison:</div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">1.0.0</div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">Company:</div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">京华科讯</div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- About us Modal ends-->
                </div>
                <!-- right top breadcrumb ends -->
                <!-- right content starts -->
                <div class="rightcontent row platform-setting">
                    <!-- mgr platform starts --> 
                        <div class="platform-setting-content">
                            <div class="vertical-center xs-remove-vertical-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-content">
                                    <div class="login-title">密码登陆</div>  
                                    <input type="input" name="plat_set_name" class="inputclass" placeholder="登陆ID" /> 
                                    <input type="password" name="plat_set_pass" class="inputclass"   placeholder="密码" /> 
                                    <div class="submit-btn" id="login-submit">提交</div> 
                                </div>  
                            </div>  
                    </div> 
                    <!-- mgr platform ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer starts -->  
    <footer class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-md-9 col-sm-9 col-xs-12 copyright">Copyright ©jingcloud.com. All Rights Reserved.</div>
        <div class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by:京华科讯</div>
    </footer>
    <!-- footer ends -->  

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- external javascript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- get current time -->
    <script src="js/currenttime.js"></script>
    <script src="js/platformSet.js"></script>
<!--    <script src="js/common.js"></script>-->
<script type="text/javascript" th:src="@{/js/lib/zrm/fullscreen.js}"></script>
</body>
</html>
