<host th:fragment="memory">
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.6/css/bootstrap.css}'/>
    <script type="text/javascript" th:src="@{/webjars/chartjs/Chart.bundle.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
    <h1>Host 的内存数据使用量</h1>
    <div class="row" >

        <div class="col-md-6 col-md-offset-7"> 
            <div class="btn-group">
                <button type="button" id="memory_week" class="btn btn-default active">一周</button>
                <button type="button" id="memory_month" class="btn btn-default">一个月</button>
                <button type="button" id="memory_season" class="btn btn-default">一季度</button>
                <button type="button" id="memory_year" class="btn btn-default">一年</button>
            </div>
        </div>

    </div>
    <div style="width:80%">
        <canvas id="canvas_host_memory" height="450" width="600"></canvas>
    </div>
    <script th:inline="JavaScript">
        /*<![CDATA[*/

        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)',
            violet: 'rgb(238, 130, 238)'
        };
        function convertBytes(bytes) {
//            if (bytes < 1024 * 1024) {
//                return (bytes / 1024).toFixed(2) + " KB";
//            } else if (bytes < 1024 * 1024 * 1024) {
//                return (bytes / 1024 / 1024).toFixed(2) + " MB";
//            } else if (bytes < 1024 * 1024 * 1024 * 1024) {
            return (bytes / 1024 / 1024 / 1024).toFixed(2);
//            } else {
//                return (bytes / 1024 / 1024 / 1024 / 1024).toFixed(2) + " TB";
//            }
        }
        function drawMemory(time) {
            var ramfreeArr = new Array();
            var rambyvmArr = new Array();
            var rambyplatArr = new Array();
            var cpuusageArr = new Array();
            var availableArr = new Array();
            var timeArr = new Array();
            var hostId = /*[[${hostId}]]*/ 'bf9a57c4-f83e-4576-ae3c-2807278a4c15';
            var path = "/host/" + hostId + "/" + time;
            $.ajax({
                url: path,
                dataType: "json",
                async: false,
                success: function (json) {
                    $.each(json, function (i, n) {
//                        i = parseInt(i);
                        if (i === 'ramfree') {//空闲内存
//                            alert(n.length)
                            $.each(n, function (index, m) {
                                ramfreeArr.push(convertBytes(m));
//                                timeArr.push(m.time);
                            });

                        } else if (i === 'rambyvm') {//虚拟机使用内存

                            $.each(n, function (index, m) {
                                rambyvmArr.push(convertBytes(m));
                            });
                        } else if (i === 'rambyplat') {//白金加速占用内存

                            $.each(n, function (index, m) {
                                rambyplatArr.push(convertBytes(m));
                            });

                        }
//                        else if (i === 'cpuusage') {
//
//                            $.each(n, function (index, m) {
//                                cpuusageArr.push(m);
//                            });
//
//                        } else if (i === 'available') {
//
//                            $.each(n, function (index, m) {
//                                availableArr.push(m);
//                            });
//
//                        }
                        else if (i === 'time') {

                            $.each(n, function (index, m) {
                                timeArr.push(m);
                            });

                        }
                    });
                }
            });
            var config = {
                type: 'line',
                data: {
                    labels: timeArr,
                    datasets: [
                        {
                            label: "空闲内存",
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            data: ramfreeArr,
                            fill: false
                        },
                        {
                            label: "虚拟机使用内存",
                            backgroundColor: window.chartColors.violet,
                            borderColor: window.chartColors.violet,
                            data: rambyvmArr,
                            fill: false
                        },
                        {
                            label: "白金加速占用内存",
                            backgroundColor: window.chartColors.orange,
                            borderColor: window.chartColors.orange,
                            data: rambyplatArr,
                            fill: false
                        }

                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '内存统计'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '日期'
                                }
                            }],
                        yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '单位 GB'
                                }
                            }]
                    }
                }
            };

            var ctx = document.getElementById("canvas_host_memory").getContext("2d");
            window.myLine = new Chart(ctx, config);

        }
        $(function () {

            drawMemory("week");
            $("#memory_week").click(function () {
                drawMemory("week");
            });

            $("#memory_month").click(function () {
                drawMemory("month");
            });

            $("#memory_season").click(function () {
                drawMemory("season");
            });

            $("#memory_year").click(function () {
                drawMemory("year");
            });
        });
        /*]]>*/
    </script>
</host>

<host th:fragment="cpu">
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.6/css/bootstrap.css}'/>
    <!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>-->
    <script type="text/javascript" th:src="@{/webjars/chartjs/Chart.bundle.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->

    <h1>Host 的CPU数据使用量</h1>
    <div class="row" >
        <div class="col-xs-6 col-md-offset-7"> 
            <div class="btn-group">
                <button type="button" id="cpu_week" class="btn btn-default active">一周</button>
                <button type="button" id="cpu_month" class="btn btn-default">一个月</button>
                <button type="button" id="cpu_season" class="btn btn-default">一季度</button>
                <button type="button" id="cpu_year" class="btn btn-default">一年</button>
            </div>
        </div>

    </div>

    <div style="width:80%">
        <canvas id="canvas_host_cpu" height="450" width="600"></canvas>
    </div>
    <script th:inline="JavaScript">
        /*<![CDATA[*/

        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)',
            violet: 'rgb(238, 130, 238)'
        };


        function drawCpu(time) {
            var cpuusageArr = new Array();
            var timeArr = new Array();
            var hostId = /*[[${hostId}]]*/ 'bf9a57c4-f83e-4576-ae3c-2807278a4c15';
            var path = "/host/" + hostId + "/" + time;
            $.ajax({
                url: path,
                dataType: "json",
                async: false,
                success: function (json) {
                    $.each(json, function (i, n) {
                        if (i === 'cpuusage') {

                            $.each(n, function (index, m) {
                                cpuusageArr.push(m);
                            });

                        } else if (i === 'time') {

                            $.each(n, function (index, m) {
                                timeArr.push(m);
                            });

                        }
                    });
                }
            });
            var config = {
                type: 'line',
                data: {
                    labels: timeArr,
                    datasets: [
                        {
                            label: "cpu使用率",
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: cpuusageArr,
                            fill: false
                        }

                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
//                        text: 'CPU统计'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '日期'
                                }
                            }],
                        yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: '百分比 %'
                                }
                            }]
                    }
                }
            };

            var ctx = document.getElementById("canvas_host_cpu").getContext("2d");
            window.myLine = new Chart(ctx, config);
        }

        $(function () {
            drawCpu("week");
            $("#cpu_week").click(function () {
                drawCpu("week");
            });

            $("#cpu_month").click(function () {
                drawCpu("month");
            });

            $("#cpu_season").click(function () {
                drawCpu("season");
            });

            $("#cpu_year").click(function () {
                drawCpu("year");
            });

        });
        /*]]>*/
    </script>
</host>