<zone th:fragment="_navigation_dialog(param)">
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
    <div class="right-top-guide">     
        <ul class="breadcrumb-custom">
            <li>
                <a href="javascript:void(0)"><i class="glyphicon glyphicon-home"></i><span>主页</span></a>
            </li>
            <li>
                <a href="#" th:text="${param}"></a>
            </li>
        </ul>
        <ul class="pull-right right-top-icon">
            <li data-toggle="modal" data-target="#myModal">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            </li>
            <li onclick="fullScreen()" class="fullScreen">
                <a href="#"><i class="glyphicon glyphicon-fullscreen"></i></a>
            </li>
        </ul>
        <!-- About us Modal starts-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog project-info-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            关于我们
                        </h4>
                    </div>
                    <div class="about-us-info col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3 col-sm-3 col-xs-3">APP Verison:</div>
                        <div class="col-md-9 col-sm-9 col-xs-9">1.0.0</div>
                        <div class="col-md-3 col-sm-3 col-xs-3">Company:</div>
                        <div class="col-md-9 col-sm-9 col-xs-9">京华科讯</div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- About us Modal ends-->
    </div>
</zone>