<zone th:fragment="_dashboard">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <!-- resouce progress starts -->
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">CPU资源</div>
                <div class="progress-out" id="div1">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span0 resource-data pull-right" >0 GHZ / 0 GHZ</div>
            </div>
        </div>   
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">内存资源</div>
                <div class="progress-out" id="div2">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span1 resource-data pull-right">0 GB / 0 GB</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">主存储资源</div>
                <div class="progress-out" id="div3">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span2 resource-data pull-right">0 TB / 0 TB</div>
            </div>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">辅助存储资源</div>
                <div class="progress-out" id="div4">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span3 resource-data pull-right">0 TB / 0 TB</div>
            </div>
        </div> 
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">公共IP地址</div>
                <div class="progress-out" id="div5">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span4 resource-data pull-right">0条 / 0条</div>
            </div>
        </div>   
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">管理类IP地址</div>
                <div class="progress-out" id="div6">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span5 resource-data pull-right">0条 / 0条</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">VLAN资源</div>
                <div class="progress-out" id="div7">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span6 resource-data pull-right">0个 / 0个</div>
            </div>
        </div>  
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="resource-progross">
                <div  class="resource-name">直接IP资源</div>
                <div class="progress-out" id="div8">
                    <div class="percent-show"><span>0</span>%</div>
                    <div class="progress-in direction-left" style="width:0%;"></div>
                </div>
                <div class="all-resouce-span7 resource-data pull-right">0条 / 0条</div>
            </div>
        </div> 
        <!-- resouce progress ends --> 
        <!-- resouce chart starts -->  
        <div class="col-md-12 col-sm-12 col-xs-12"> 
            <div id="zoneResourceChart"> 
                <canvas id="canvas_dashboard"></canvas>
            </div>
        </div>
        <!-- resouce chart ends -->      
    </div>
</zone>