<zone th:fragment="_vm_info">
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

    <!--树形的机构和点击事件-->
    <script type="text/javascript" th:src="@{/webjars/zTree/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/zTree/js/jquery.ztree.excheck.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/zTree/js/jquery.ztree.exedit.js}"></script>
    <!--树形结构的展开和关闭-->
    <script type="text/javascript" th:src="@{/js/lib/zrm/tc_vm_tree_tool.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/zrm/api_data/vmTree.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/chartjs/Chart.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/utils.js}"></script>
    <!--树形的机构和点击事件-->



    <div class="rightcontent row device-tree is-open">
        <!--left tree-->
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 clear-padding devicetree">
            <div class="head-tree">
                <span class="head-tree-title">
                    <i class="glyphicon glyphicon-envelope"></i>
                    请选择区域
                </span>
                <span  class="head-tree-search"><i class="glyphicon glyphicon-search  searchdata"></i></span>
            </div>
            <div class="searchtree hidden">
                <input type="input" name="searchtree" id="searchtree"/>
            </div>
            <ul id="devicetree" class="ztree"></ul>
        </div>
        <!--left tree-->

        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 clear-padding devicecontent">
            <div class="custom-height deviceinfocontent">
                <div class="device-info-content">
                    <div class="tree-breadcrumb">
                        <span id="vm_info_title">所有虚拟机</span>
                        <!--                                        <ul class="breadcrumb-custom">
                                                                    <li>
                                                                        <a href="#">福建</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">厦门</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">湖里区</a>
                                                                    </li>
                                                                </ul>-->
                    </div>
                    <div id="vm_info_content" class="device-info">
                    </div>
                    <i class="glyphicon glyphicon-arrow-left icon-posation"></i>
                </div>
            </div>
            <!-- vm map tree ends -->
        </div>
    </div>

    <script th:inline="JavaScript">
        /*<![CDATA[*/

        function getVMState(state) {
            var stateClass = "normal";
            switch (state) {
                case "Running":
                    stateClass = "normal";
                    break;
                case "Stopped":
                    stateClass = "resume";
                    break;
                case "Starting":
                    stateClass = "waring";
                    break;
                case "Sleeping":
                    stateClass = "resume";
                    break;
                case "Sleeped":
                    stateClass = "normal";
                    break;
                case "Wakeup":
                    stateClass = "resume";
                    break;
                case "Stopping":
                    stateClass = "resume";
                    break;
                case "Expunging":
                    stateClass = "resume";
                    break;
                case "Error":
                    stateClass = "danger";
                    break;
                case "Migrating":
                    stateClass = "resume";
                    break;
                case "Destroyed":
                    stateClass = "resume";
                    break;
                default:
                    break;
            }
            return  stateClass;

        }

        function fillVMHtml(list) {
            var html = '';
            $.each(list, function (index, json) {
                var name = json.name;
                var ip = json.ip;
                var cpuuse = json.cpuuse;
                var memuse = json.memuse;
                var network = json.network;
                var state = json.state;

                var vm = '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> ' +
                        '<div class="deviceinfobr">' +
                        '<div class="col-md-6 col-sm-6 col-xs-6">' + name + '</div>' +
                        '<div class="col-md-6 col-sm-6 col-xs-6 text-right">' + ip + '</div>' +
                        '<div class="col-md-12 col-sm-12 col-xs-12"><div class="bule-line"></div></div> ' +
                        '<div class="col-md-12 col-sm-12 col-xs-12">CPU ' + cpuuse + '</div>' +
                        '<div class="col-md-12 col-sm-12 col-xs-12">内存 ' + memuse + '</div>' +
                        '<div class="col-md-12 col-sm-12 col-xs-12">网络  ' + network + '</div>' +
                        '<div class="col-md-12 col-sm-12 col-xs-12">' +
                        '<div class="' + getVMState(state) + '">&nbsp;</div></div> ' +
                        '</div>' +
                        '</div>';
                html = vm + html;
            });
            $("#vm_info_content").html(html)

        }
        var pageSize = 1;
        function getVMs(pageNo) {
            $.ajax({
                url: "/vms_data/" + pageNo + "/" + pageSize,
                dataType: "json",
                async: false,
                success: function (json) {
                    var list = json.resultList;
                    fillVMHtml(list);
                }
            });
        }
        var pagecount;
        function initPageCount() {
            $.ajax({
                url: "/vms_data/1/" + pageSize,
                dataType: "json",
                async: false,
                success: function (json) {
                    pagecount = json.pageCount;
                }
            });
        }


        var index = 1;
        function letsGO() {
            getVMs(index);
            index++;
            if (index > pagecount) {
                index = 1;
            }

        }

        $(function () {
            initPageCount();
            letsGO();
            window.setInterval(function () {
                return letsGO()
            }, 30000);
        });

////////////////////////////////////////////////////////////////////////////////
///////////////////////////当点击具体虚拟机//////////////////////////////
////////////////////////////////////////////////////////////////////////////////


        /*]]>*/
    </script>
</zone>