
/*common css start*/

span.boder-icon:before{
    width: 10px;
    height: 10px;
    background-color: #fff;
    content: "";
    display: inline-block;
    margin-right: 5px;
}
.sidebar-nav li a:hover,.sidebar-nav li a.active{
    background-color:#00C1DE;
}
.rightcontent .bule-line{
 	height:1px;
 	background-color: #00C1DE; 
    margin: 0 0 5px 0;
}
.rightcontent .row-padding{
	padding-bottom: 5px;
} 

.rightcontent .waring{
    background-color: #FF9900;
    height: 8px;
    margin:10px 0;
}

.rightcontent .danger{
    background-color: #FF0000;
    height: 8px;
    margin:10px 0;
}

.rightcontent .normal{
    background-color: #00FF00;
    height: 8px;
    margin:10px 0;
}

.rightcontent .resume{
    background-color: #ccc;
    height: 8px;
    margin:10px 0;
}
/*common css end*/
/*Index css start*/
/*progress css*/
.resource-progross{
	font-size:12px;
    color: #fff;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #272B2E;
	height: 115px;
}
.progress-out {
    position: relative;
    background-color: #797C7D;
    height: 40px;
    margin: 10px 0;
}

.progress-in {
    position: absolute;
    height: 100%;
    border: none;
    background-color: #FF0000;
    z-index: 1;
}

.table-responsive{
    border:none;
}
.durtytable{
    /*border: 1px solid #373D41;*/
    border: 1px solid #fff;
}
.tableTitleColor{
   color: #fff;
   text-align: center;
   font-weight: bold;
   margin-bottom: 10px;
}

.durtytable thead tr{
   background-color:#272B2E!important;
   color:#fff!important;
}
.durtytable tr:nth-child(even){
   background-color:#272B2E; 
}

.durtytable tr:nth-child(odd){
   background-color:#f5f5f5;
   color:#000;
}
.direction-left{
    left:0;
}
.direction-right{
    right:0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.percent-show {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
    z-index: 2;
}

.progress-in.waring-progress{
    background-color: #FF9900;
}

.progress-in.danger-progress{
    background-color: #FF0000;
}

.progress-in.normal-progress{
    background-color: #00FF00;
}
/*css3*/ 

.u_p3d{
    -webkit-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
}

.ui_base {
    position: relative;
    width: 100%;
    height: 100%; 
}
.base{  
} 
/*css3*/
/**/
/*full screen css */
.fix-sidebar-nav.sidebar-nav-hidden{
	margin-left: -120px; 
}
.auto-content.auto-content-fullscreen{
	margin-left: 0px; 
}
.navbar-inner.navbar-inner-hidden{
	margin-top:-50px; 
}
/*chart resource */
#resourceChart{
    height: 300px;
}
.modal-dialog.project-info-modal{
	max-width: 350px;
}
.modal-dialog.project-info-modal .modal-content{ 
	color: #000;
    border-radius: 0;
}
.modal-dialog.project-info-modal .about-us-info{
	background-color: #fff;
	padding: 10px;
}
.modal.in .modal-dialog{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
.modal-dialog{position:absolute;width:auto;margin:10px auto;left:0;right:0;top:50%}

/*Index css end*/
/*loudService css start*/
.rightcontent .loundSerivice{
	font-size: 12px;
    background-color: #272B2E;
	height: 115px;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
}
/*loudService css end*/
/*gateway css start*/
.rightcontent .gateway{
	font-size: 12px;
    background-color: #272B2E;
	height: 115px;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
}
.rightcontent .mgr-platform-info{
	font-size: 12px;
    background-color: #272B2E;
	height: 100px;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
}
/*gateway css end*/



/*css*/

.mgr-title{
    margin-bottom: 10px;
    text-align: center;
}
/*platform css*/
.platform-setting{
    background-color:#3F4549!important;
    padding-top: 0px!important;
}
.platform-setting .iaas-setting,
.platform-setting .daas-setting{
    height: 30px;
    line-height: 30px;
    background-color: #51585E;
    padding-left: 10px;
    cursor: pointer;
}
.platform-setting .iaas-setting.active,
.platform-setting .daas-setting.active{
    background-color: #00C1DE;
}
.platform-setting .platform-setting-content{
    background-color: #2E3336;
    position: relative;
}
.platform-setting .platform-setting-content .vertical-center{
    top: 30%;
}
.setting-title{
    margin-bottom: 40px;
    text-align: center;
}
.submit-btn{
    background-color: #00C1DE;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}
.device-tree{
    background-color: #fff!important;
    padding-top: 0px!important;
    overflow: auto;
}
.device-tree .deviceinfocontent{
    background-color: #2E3336;
    margin-left: 15px;
}
.devicecontent .icon-posation{
    position: absolute;
    left: 0px;
    top: 50%;
    cursor: pointer;
    font-size: 16px;
    color: #00C1DE;
}
.devicecontent{
    position: relative;
    background-color: #2E3336;
}
/*footer*/
.powered-by{
    padding-right: 13px!important;
    text-align: right;
}
.rightcontent.device-tree.is-closed  .devicetree{
    display:none;
}

.rightcontent.device-tree.is-closed  .devicecontent{
    width: 100% !important;
}
.head-tree{
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    background-color: #00C1DE;
}
.head-tree .head-tree-title{
    float: left;
}
.head-tree .head-tree-setting{
    float: right;
    cursor: pointer;
}
.head-tree .head-tree-search{
    float: right;
    margin-right:15px;
    cursor: pointer;
}
.devicecontent .device-info-content{
    padding-top: 10PX;
}
.device-info-content .device-info{
    padding-top: 20px;
}
.tree-breadcrumb{
    background: #00C1DE;
    width:100%;
    font-size: 12px;
    height:20px;
    line-height:20px;
    margin:0px;
    padding: 0 5px;
}
ul.breadcrumb-custom i {
    padding-right: 10px;
    line-height: 20px;
}
ul.breadcrumb-custom ,ul.breadcrumb-custom li{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: inline-block;
}
.device-chart-title{
    text-align: center;
    margin:20px 0;
}

.tree-breadcrumb .breadcrumb-custom>li+li:before{
    color:#fff;
}

.rightcontent .deviceinfobr{
    font-size: 12px;
    background-color: #272B2E;
    height: 120px;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
}
.searchtree,.showmethodContent{    
    padding: 5px;
    width: 100%;
}
.searchtree input,.showmethodContent select{    
    border: 1px solid #ccc;
    color: #000;
    width: 100%;
}

.platform-setting .platform-setting-content input{
    width: 100%;
    color: #000;
    border:1px solid #ccc;
}
.platform-setting-content input.inputclass{
    color: #000;
    margin:5px 0;
    outline: none;
    border:1px solid #ccc;
    text-indent: 2px;
}
.platform-setting-content input:focus{
    border:1px solid #00C1DE;
}
.platform-setting-content .login-content{
    background-color: #fff;
    color: #000;
    padding: 10px;
}



